<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
    </head>

    <h1>{{.title}}</h1>

    {{if .FlashPresent}}
        <div>{{.flash}}</div>
    {{end}}

    <body>
        <form enctype="multipart/form-data" action="/file_uploads/" method="post">
            <input type="hidden" id="auth" name="auth" value="{{.auth}}">  
            <input type="file" name="uploaded-file" />
            <input type="submit" value="upload" />
        </form>
    </body>
</html>